:root:root {
  --adm-color-primary: #1677ff;
  --adm-font-family: 'PingFangSCC-Regular';
  --font-size:16px;
}

html,
body {
  margin: 0;
  padding: 0;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
html,
body,
#root {
  height: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
